GATHER_API_KEY="your-gather-api-key-here"
GATHER_SPACE_ID='space-id-here\map-name'
SPOTIFY_CLIENT_ID="spotify-client-id-here"
SPOTIFY_CLIENT_SECRET="spotify-client-secret-here"
SPOTIFY_ACCESS_TOKEN="your-very-long-spotify-token-here"
SPOTIFY_REFRESH_TOKEN="your-very-long-spotify-refresh-token-here"